.Tile_Palette {
    display: flex;
    flex-wrap: wrap;
}

.Tile_Floor, .Tile_Obstacle,.Tile_None, .Tile_Add_Unit,
.Horizontal_Symmetry, .Vertical_Symmetry, .Map_Preset1, .Map_Preset2  {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-size: cover;
}

.Tile_Floor {
    background-image: url("project://database/Assets/Sprites/Editor/FLOOR.png?fileID=2800000&guid=43961a741b12c0945a31903538ab2f11&type=3#FLOOR");
}

.Tile_None {
    background-image: url("project://database/Assets/Sprites/Editor/NONE.png?fileID=2800000&guid=ee84de70f17ed4a47a8adf1cacf772a1&type=3#NONE");
}

.Tile_Obstacle {
    background-image: url("project://database/Assets/Sprites/Editor/OBSTACLE.png?fileID=2800000&guid=dce751b27cc76fe4488ed226764499a2&type=3#OBSTACLE");
}

.Tile_Add_Unit {
    background-image: url("project://database/Assets/Sprites/Editor/ADD%20UNIT%20TILE.png?fileID=2800000&guid=ecf9e514755a4e54e96c84ad1dcfb656&type=3#ADD UNIT TILE");
}

.Horizontal_Symmetry {
    background-image: url("project://database/Assets/Sprites/Editor/Horizontal%20Symmetry.png?fileID=2800000&guid=71d23f191b289384c8f488095dc24a73&type=3#Horizontal Symmetry");
}

.Vertical_Symmetry {
    background-image: url("project://database/Assets/Sprites/Editor/Veritical%20Symmetry.png?fileID=2800000&guid=f3896e744c90c544c8586c910cc62bf3&type=3#Veritical Symmetry");
}

.Map_Preset1 {
    background-image: url("project://database/Assets/Sprites/Editor/Preset%201.png?fileID=2800000&guid=0d9ad70125efdff44a39014e72ac2107&type=3#Preset 1");
}

.Map_Preset2 {
    background-image: url("project://database/Assets/Sprites/Editor/Preset%202.png?fileID=2800000&guid=84607e9905eb8104b82b4c3f12699164&type=3#Preset 2");
}
